################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/forIteration/.vs/forIteration
/forIteration/forIteration/obj
/forIteration/.vs/ProjectEvaluation
